{% extends "bulletin/layout.html" %}
{% block title %}
Welcome
{% endblock %}
{% block body %}
<div class="container">
<br>
<h3><strong class="welcome">Welcome to Bulletin!</strong></h3>
<p>
    Bulletin connects students and instructors even while away from the physical classroom.
    Post questions, announcements, and more to your online bulletin board!
</p>
<p>
    Users can register as an instructor or student.
    Instructors can create new classes.
    All users can create posts and comment on existing posts.
</p>
<p>
    Future Features:
    Image uploads
</p>
</div>
{% endblock %}